:root {
  --ship-color: #00b6e5;
}

html{
  font-size: 16px;
  height:100%;
}
body{
  font-size: 62.5%;
  margin:0;
  font-family: 'Rye', cursive;
  position:relative;
}
p {
  font-family: 'Raleway', Arial;
  letter-spacing:1.5px;
  font-size:1.5em;
  line-height:1.75em;
  text-align:center;
  font-weight:100;
}

/* INTRO */
img{
  width:100%;
  z-index: -1;
}
section#intro{
  margin-bottom:-5px;
  background-image: url("../images/background_pool_brent_sky_bella.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  min-height:600px;
}
div#introAlt{
  background-image: url("../images/background_pool_brent_sky_bella_color.jpg");
  display:none;
}
div.intro__title{
  position:absolute;
  top: 0;
  padding: 20% 0% 0% 55%;
  font-size: 2em;
  height: 80px;
}
div.intro__title img{
  height: 100px;
  width: 100px;
  display:inline;
  vertical-align:middle;
}
div.intro__hoverable{
  position:absolute;
  top: 0;
  left: 40%;
  margin-top: 18%;
  height: 300px;
  width: 10%;
  z-index:1;
}
.intro__lightning{
  height: 200;
  width:1600;
  background: url("../images/lightning_sprite_3images_1strike.png");
  background-size: 100% 800%;
  /*14.28, 28.57, 42.85, 57.14, 71.43, 85.71 */
  background-position: 0 85.71% ;
  z-index: 10;
  position: absolute;
  top:750px;
}
.center-block{
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
.intro-summary{
  position:absolute;
  color: white;
  width: 60%;
  background-color: rgba(0,0,0,0.3);
  padding:20px;
  border-radius:5px;
  top:600px;
}
#horseSprite{
  background-image:url("../images/horse_sprite_small_pasture_one_third.png");
  height: 36px;
  width: 50px;
  background-position: 0 0;
  position:absolute;
  bottom:177px;
}
#homeCanvas{
  margin-bottom: -5px;
}
#contact{
  background: url("../images/corn_field_black_sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
#contact .links{
  width: 500px;
}
#email, #resume{
  vertical-align:top;
}
#resume a{
  text-decoration:none;
}
#email:hover p, #email:hover i, #resume:hover p, #resume:hover i{
  color: #c9c9c9;
  cursor: hand;
  cursor: pointer;
}
#emailTelephone{
  margin-top: 30px;
  color: #6f6f6f;
}
#emailTelephone p{
  margin: 0;
  font-weight: 400px;
  color: #c9c9c9;
}

#email span{
  visibility:hidden;
  color: green;
  font-size: 2em;
  font-family: 'Raleway', Arial;
}
#email span.fading{
  visibility:visible;
  bottom: 50px;
  animation: fade-text 1s forwards;
}

@-webkit-keyframes fade-text {
  0%   { opacity: 1.0; }
  80%   {opacity: 0.4; }
  100%   {opacity: 0; }
}
@-moz-keyframes fade-text {
  0%   { opacity: 1.0; }
  80%   {opacity: 0.4; }
  100%   {opacity: 0; }
}
@-o-keyframes fade-text {
  0%   { opacity: 1.0; }
  80%   {opacity: 0.4; }
  100%   {opacity: 0; }
}
@keyframes fade-text {
  0%   { opacity: 1.0; }
  80%   {opacity: 0.4; }
  100%   {opacity: 0; }
}

i{
  color: #6f6f6f;
}
.icons-container{
  text-align:center;
  width:49%;
  display:inline-block;
}
.icons-container p{
  font-weight: 400;
  font-size: 1em;
  color: #6f6f6f;
}
.icons-container p.email-address{
  font-size: 1.5em;
  font-weight: 700;
}
#games, #work {
  min-height:500px;
  background-color:black;
}
/* WORK */
#work h2{
  font-size: 3em;
  font-family: 'Raleway', Arial;
  color: var(--ship-color);
}
/* GAMES */
#games div:first-child, #work div:first-child{
  text-align:center;
}
#gameHeadingImage, #workHeadingImage{
  max-width: 500px;
  margin-bottom: 100px;
}
.main-block{
  width: 90%;
  min-height:200px;
  padding-bottom:200px;
  max-width:1000px;
}
.main-section-block{
  width: 49%;
  display:inline-block;
  vertical-align:top;
}
.main-section-block img{
  height:100%;
}
img#flappyDragonHeading, img#minesweeperHeading{
  height: 50%;
  width:50%;
  margin-bottom: 0px;
}
img#minesweeperGameImage, img#battleshipGameImage, img#flappyDragonGameImage, img#shipImage{
  border-radius: 4px;
  width:75%;
  margin-left:24%;
}
.game-description p, .work-description p{
  color:white;
  text-align:left;
}
.game-description p a, .work-description p a{
  text-decoration:underline;
}
.game-description p a{
  color: yellow;
}
.work-description p a{
  color: var(--ship-color);
}
/* #00b6e5 */
/* #009bbf */
/* #00657f */
.game-description p.game-links, .work-description p.work-links{
  padding-left:20px;
}
#minesweeperDescription p a{
  color:red;
}
#battleshipDescription p a{
  color:#69a9e3;
}
/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6em;
  background-color:black;
  z-index: 1;
  border-bottom:1px solid #767676;
}
nav ul{
  margin-top: 0;
  font-size:1.5em;
  list-style-type:none;
  height:100%;
}
nav ul li{
  display:inline-block;
  width:100px;
  height:40px;
  padding: 10px 0px 10px;
  text-align:center;
  letter-spacing: 1.3px;
  line-height:2em;
  font-weight: 400;
}
nav ul li:hover{
  color:#d2e7ff;
}
nav ul a{
  text-decoration:none;
  color:white;
}
.sliding-u-l-r {
  display: inline-block;
}
.sliding-u-l-r:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  margin-left:20%;
}
.sliding-u-l-r:hover:after {
  margin-left:20%;
  width: 60%;
  background: #d2e7ff;
}

/* 3d CUBE*/
#experiment {
  -webkit-perspective: 500px;
  -webkit-perspective-origin: 50% 150px;
  z-index: 100;
  position:fixed;
  top:10px;
  right: 15px;
}
.face {
  position: fixed;
  height: 40px;
  width: 40px;
  padding: 1px;
  background: url("../images/all_logos_crates_web.png");
  background-size:400%;
}
#linkedIn, #twitter, #github, #youTube, #instagram {
  position: fixed;
  right: 0px;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
  cursor:pointer;
  cursor:hand;
}
@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(180deg); }
}
@keyframes unspin {
	from { transform: rotateY(180deg); }
	to { transform: rotateY(0); }
}
#instagram.spin, #linkedIn.spin, #twitter.spin, #github.spin, #youTube.spin {
	animation: spin 0.2s linear;
  -webkit-animation-fill-mode: forwards;
}
#instagram.unspin, #linkedIn.unspin, #twitter.unspin, #github.unspin, #youTube.unspin {
	animation: unspin 0.2s linear;
}

#linkedIn {
  top:10px;
}
#github {
  top:70px;
}
#twitter {
  top:130px;
}
#youTube {
  top:190px;
}
#instagram {
  top:250px;
}
/* bottom facing item*/
#linkedIn .one  {
  -webkit-transform: rotateX(90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/*front facing item*/
#linkedIn .two {
  -webkit-transform: translateZ(20px);
 background-position: 100% 0;
}
/*right facing item*/
#linkedIn .three {
  -webkit-transform: rotateY(90deg) translateZ(20px);
   background-position: 0 -33.33%;
}
/* back facing image*/
#linkedIn .four {
  -webkit-transform: rotateY(180deg) translateZ(20px);
  background-position: 66.66% 0;
}
/* left facing item*/
#linkedIn .five {
  -webkit-transform: rotateY(-90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/* bottom facing image*/
#linkedIn .six {
  -webkit-transform: rotateX(-90deg) translateZ(20px) rotate(180deg);
  background-position: 0 -33.33% ;
}
/* bottom facing item*/
#github .one  {
  -webkit-transform: rotateX(90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/*front facing item*/
#github .two {
  -webkit-transform: translateZ(20px);
 background-position: 33.33% 66.66%;
}
/*right facing item*/
#github .three {
  -webkit-transform: rotateY(90deg) translateZ(20px);
   background-position: 0 -33.33%;
}
/* back facing image*/
#github .four {
  -webkit-transform: rotateY(180deg) translateZ(20px);
  background-position: 0 66.66%;
}
/* left facing item*/
#github .five {
  -webkit-transform: rotateY(-90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/* bottom facing image*/
#github .six {
  -webkit-transform: rotateX(-90deg) translateZ(20px) rotate(180deg);
  background-position: 0 -33.33% ;
}
/* bottom facing item*/
#twitter .one  {
  -webkit-transform: rotateX(90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/*front facing item*/
#twitter .two {
  -webkit-transform: translateZ(20px);
 background-position: 33.33% 33.33%;
}
/*right facing item*/
#twitter .three {
  -webkit-transform: rotateY(90deg) translateZ(20px);
   background-position: 0 -33.33%;
}
/* back facing image*/
#twitter .four {
  -webkit-transform: rotateY(180deg) translateZ(20px);
  background-position: 0 33.33%;
}
/* left facing item*/
#twitter .five {
  -webkit-transform: rotateY(-90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/* bottom facing image*/
#twitter .six {
  -webkit-transform: rotateX(-90deg) translateZ(20px) rotate(180deg);
  background-position: 0 -33.33% ;
}
/* bottom facing item*/
#youTube .one  {
  -webkit-transform: rotateX(90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/*front facing item*/
#youTube .two {
  -webkit-transform: translateZ(20px);
 background-position: 33.33% 0;
}
/*right facing item*/
#youTube .three {
  -webkit-transform: rotateY(90deg) translateZ(20px);
   background-position: 0 -33.33%;
}
/* back facing image*/
#youTube .four {
  -webkit-transform: rotateY(180deg) translateZ(20px);
  background-position: 0 0;
}
/* left facing item*/
#youTube .five {
  -webkit-transform: rotateY(-90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/* bottom facing image*/
#youTube .six {
  -webkit-transform: rotateX(-90deg) translateZ(20px) rotate(180deg);
  background-position: 0 -33.33% ;
}
/* bottom facing item*/
#instagram .one  {
  -webkit-transform: rotateX(90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/*front facing item*/
#instagram .two {
  -webkit-transform: translateZ(20px);
 background-position: 100% 33.33%;
}
/*right facing item*/
#instagram .three {
  -webkit-transform: rotateY(90deg) translateZ(20px);
   background-position: 0 -33.33%;
}
/* back facing image*/
#instagram .four {
  -webkit-transform: rotateY(180deg) translateZ(20px);
  background-position: 66.66% 33.33%;
}
/* left facing item*/
#instagram .five {
  -webkit-transform: rotateY(-90deg) translateZ(20px);
  background-position: 0 -33.33%;
}
/* bottom facing image*/
#instagram .six {
  -webkit-transform: rotateX(-90deg) translateZ(20px) rotate(180deg);
  background-position: 0 -33.33% ;
}
/*end 3d cube*/

/** MEDIA QUERIES **/
@media screen and (min-width: 901px){

}
@media screen and (min-width: 1100px){
  #contact{
    background-size:cover;
    height:575px;
  }
}
@media screen and (max-width: 1000px){
  .intro-summary{
    width: 60%;
  }
  #home{
    min-height:550px;
  }
}
@media screen and (max-width: 900px){
  .intro-summary{
    width: 70%;
  }
  #home{
   min-height:500px;
  }
  #games, #work{
    padding-top:50px;
  }
}
@media screen and (max-width: 800px){
  .intro-summary{
    width: 90%;
  }
  div.intro__title img{
    height: 50px;
    width: 50px;
  }
  div.intro__quote{   
    font-size: 1.5em;
  }
  #home{
    min-height:425px;
  }
}
@media screen and (max-width: 700px){
  #contact .links{
    width: 400px;
  }
  #games, #work{
    padding-top:150px;
  }
 div.intro__title{
   font-size:1.5em;
 }
 #home{
   min-height:400px;
 }
 nav ul li{
   height:14px;
   width:70px;
   margin-bottom:5px;
 }
 #navOne{
   background-position: 0 0px;
 }
 #navTwo{
   background-position: 0 -14px;
 }
 #navThree{
   background-position: 0 -28px;
 }
 #navFour{
   background-position: 0 -42px;
 }
 #navFive{
   background-position: 0 -56px;
 }
 
}
@media screen and (max-width: 600px){
  img#minesweeperGameImage, img#battleshipGameImage, img#flappyDragonGameImage, img#shipImage{
    width:80%;
    margin-left:10%;
  }
  .main-section-block{
    width: 100%;
  }
  .game-description p.game-links, .work-description p.work-links{
    padding-left:0px;
    text-align:center;
  }
  #games,#work{
    padding-top:200px;
  }
  .face {
    height: 20px;
    width: 20px;
  }
  #instagram .one,#github .one, #youTube .one, #linkedIn .one, #twitter .one{
  -webkit-transform: rotateX(90deg) translateZ(10px);
  }
  
  #instagram .two,#github .two, #youTube .two, #linkedIn .two, #twitter .two{
    -webkit-transform: translateZ(10px);
  }
  
  #instagram .three,#github .three, #youTube .three, #linkedIn .three, #twitter .three{
    -webkit-transform: rotateY(90deg) translateZ(10px);
  }
  
  #instagram .four,#github .four, #youTube .four, #linkedIn .four, #twitter .four{
    -webkit-transform: rotateY(180deg) translateZ(10px);
  }
  
  #instagram .five,#github .five, #youTube .five, #linkedIn .five, #twitter .five{
    -webkit-transform: rotateY(-90deg) translateZ(10px);
  }
  
  #instagram .six,#github .six, #youTube .six, #linkedIn .six, #twitter .six{
    -webkit-transform: rotateX(-90deg) translateZ(10px) rotate(180deg);
  }
  #linkedIn {
    top:10px;
  }
  #github {
    top:50px;
  }
  #twitter {
    top:90px;
  }
  #youTube {
    top:130px;
  }
  #instagram {
    top:170px;
  }
  .face {
    height: 20px;
    width:20px;
  }
  #linkedIn, #twitter, #github, #youTube, #instagram {
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width: 500px){
  #games, #work{
    padding-top:300px;
  }
  div.intro__title{
    font-size:1.0em;
  }
  div.intro__title img{
    height: 25px;
    width: 25px;
  }
  div.intro__quote{   
    font-size: 1.0em;
  }
  #home{
    min-height:230px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){
  p {
    font-size:3em;
    text-align:center;
    font-weight:100;
  }
  .main-section-block{
    width: 100%;
  }
  .game-description p, .work-description p{
    font-size:3em;
    text-align:center;
    width:90%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  #instagram .one,#github .one, #youTube .one, #linkedIn .one, #twitter .one{
  -webkit-transform: rotateX(90deg) translateZ(40px);
  }
  
  #instagram .two,#github .two, #youTube .two, #linkedIn .two, #twitter .two{
    -webkit-transform: translateZ(40px);
  }
  
  #instagram .three,#github .three, #youTube .three, #linkedIn .three, #twitter .three{
    -webkit-transform: rotateY(90deg) translateZ(40px);
  }
  
  #instagram .four,#github .four, #youTube .four, #linkedIn .four, #twitter .four{
    -webkit-transform: rotateY(180deg) translateZ(40px);
  }
  
  #instagram .five,#github .five, #youTube .five, #linkedIn .five, #twitter .five{
    -webkit-transform: rotateY(-90deg) translateZ(40px);
  }
  
  #instagram .six,#github .six, #youTube .six, #linkedIn .six, #twitter .six{
    -webkit-transform: rotateX(-90deg) translateZ(40px) rotate(180deg);
  }
  #linkedIn {
    top:20px;
  }
  #github {
    top:120px;
  }
  #twitter {
    top:220px;
  }
  #youTube {
    top:320px;
  }
  #instagram {
    top:420px;
  }
  .face {
    height: 80px;
    width:80px;
  }
  #linkedIn, #twitter, #github, #youTube, #instagram {
    height: 80px;
    width: 80px;
  }
  #experiment {
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 220px;
    z-index: 100;
    position:fixed;
    top:40px;
    right: 40px;
  }
  div.intro__title{
    position:absolute;
    top: 0;
    padding: 20% 0% 0% 50%;
    height: 80px;
  }
  div.intro__title img{
    height: 100px;
    width: 100px;
  }
  section#intro{
    background-image: url("../images/background_pool_brent_sky_bella_low_res.jpg");
  }
  #games, #work{
    padding-top:300px;
  }
  #about, #games, #work {
    margin-bottom: -2px;
  }
  .intro-summary{
    width:80%;
  }
  img#minesweeperGameImage, img#battleshipGameImage, img#flappyDragonGameImage, img#shipImage{
    width:80%;
    margin-left:10%;
  }
}

